* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: "Helvetica", "Arial", sans-serif;
  background: rgb(173, 54, 205);
}

h1 {
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 10px;
  color: #221c1c;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  padding: 5px;
  background: white;
  box-shadow: 0px 4px 12px -9px black;
  border-radius: 6px;
}

.input-todo {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #f6f4f4;
  border-bottom: 2px solid #e5e5e5;
  width: 100%;
  font-size: 40px;
  color: #696969;
  padding: 30px;
}

.input-todo:focus {
  outline: none;
}

.add-todo {
  border: none;
  margin: 5px;
  padding: 34px;
  font-size: 34px;
  border-radius: 10px;
  text-shadow: 2px 2px 4px #494545;
  color: #221c1c;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 18px;
}

.select div {
  text-shadow: 2px 2px 4px #494545;
  color: #221c1c;
  text-align: center;
  width: 95px;
  padding: 5px 0;
  background: #f6f4f4;
  margin: 3px;
  border-radius: 10px;
}

.item {
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  background-color: white;
}

.item-text {
  flex: 1;
  padding: 5px;
}

.item-text:focus {
  outline: none;
}

li a {
  margin-left: 5px;
  padding: 5px;
}
